@model BGL.Web.ViewModels.ErrorViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>An unexpected error occured.  Please return to the home page and try your search again.</h2>
<div>@Html.ActionLink("Home", "Index", "Home")</div>

